.course-img-container {
    max-height: 150px;
    min-height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.course-image {
    max-height: 100%;
    width: auto;
    display: block;
}